<div class="galeria-horizontal">
  <div class="pelicula" *ngFor="let pares of peliculas | pares">

    <ion-row>

      <ion-col size="12" *ngFor="let pelicula of pares">
        <ion-card (click)="verDetalle(pelicula.id.toString())">
          <img class="poster" [src]="pelicula.poster_path | imagen" />
        </ion-card>
      </ion-col>

    </ion-row>
</div>

<div class="slide-mas">

    <ion-button expand="full" size="large" (click)="onClick()" class="btn-mas">
        <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

</div>