.galeria-horizontal {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

.pelicula {
  flex: 0 0 30%;
  width: 30%;
  box-sizing: border-box;
}

.slide-mas{
  height: 300px;
}

.btn-mas{
  position: relative;
  top: 55%;
}